.plava{
    width: 500px;
    height: 350px;
    background-color: blue;
    position: relative;
}

.crvh{
    width: 500px;
    height: 50px;
    background-color: red;
    position: absolute;
    top: 150px;
    z-index: 2;
}
.crvv{
    width: 50px;
    height: 350px;
    background-color: red;
    position: absolute;
    left: 120px;
    z-index: 2;
}
.bjlh{
    width: 500px;
    height: 110px;
    background-color: white;
    position: absolute;
    top: 120px;
    z-index: 1;
}
.bjlv{
    width: 110px;
    height: 350px;
    background-color: white;
    position: absolute;
    left: 90px;
    z-index: 1;
}
.pl{
    width: 500px;
    height: 350px;
    background-color: #00A9CE;
    position: relative;
}
.t{
    width: 0;
    height: 0;
    position: absolute;
    border-left:  175px solid black;
    border-top:  175px solid transparent;
    border-bottom: 175px solid transparent;
    z-index: 2;
}
.z{
    width: 500px;
    height: 100px;
    position: absolute;
    background-color: #fdda25;
    z-index: 1;
    top: 120px;
}
.c{
    width: 500px;
    height: 320px;
    background-color: darkred;
    position: relative;
}
.b{
    width: 100px;
    height: 350px;
    background-color: white;
    position: absolute;
}
.bt{
    width: 0;
    height: 0;
    position: absolute;
    border-left: 75px solid white;
    border-top: 40px solid  transparent;
    border-bottom: 40px solid transparent;
    left: 100px;
}
.a{
      width: 0;
    height: 0;
    position: absolute;
    border-left: 75px solid white;
    border-top: 40px solid  transparent;
    border-bottom: 40px solid transparent;
    left: 100px;
    top: 80px;
}
.bb{
      width: 0;
    height: 0;
    position: absolute;
    border-left: 75px solid white;
    border-top: 40px solid  transparent;
    border-bottom: 40px solid transparent;
    left: 100px;
    top: 160px;
}
.cc{
      width: 0;
    height: 0;
    position: absolute;
    border-left: 75px solid white;
    border-top: 40px solid  transparent;
    border-bottom: 40px solid transparent;
    left: 100px;
    top: 240px;
}
